---
layout: default
title: Home
---
{% comment %}
{% include intro.html %}
{% endcomment %}

<section class="intro">
    <div class="container">
      <h2 class="category-title">HEY, I'M HARRIET.</h2>
      <img src="{{ "/assets/images/harriet.png" | prepend: site.baseurl | prepend: site.url }}" style="width: 100%; padding: 15px;"/>
      <p class="lead">
        Through the development of awesome content and experiences, I help growing technology companies build a highly engaged workforce and customer base. 
        If you're looking for someone to join your team on a casual or project basis, read on and get in touch!
      </p>
    </div>
  </section>

<section class="post-list">
  <div class="container">
    <h2 class="category-title">KEY SKILLS</h2>
    <p class="lead">
      Need a simple marketing strategy and implementation plan? I'm your woman!
      I'm also really good at:
    </p>
    <ul>
      <li>Translating complicated tech jargon into engaging content</li>
      <li>Product communications</li>
      <li>Social media management</li>
      <li>Internal social management e.g. Workplace by Facebook and Slack</li>
      <li>Video development</li>
      <li>Creating and implementing employee engagement programs and communications</li>
      <li>Change and project comms</li>
      <li>PR and Media Relations</li>
      <li>Event strategy and execution</li>
      <li>Working across teams and in challenging environments</li>
    </ul>
  </div>

  <div class="container">
      <h2 class="category-title">CAREER HIGHLIGHTS</h2>
      <p class="lead">
          I've worked across telco, geospatial, insurance, energy, online fashion, AI and machine learning. Here are some recent highlights:
      </p>

      <h2 class="company"><a href="http://www.concirrus.com/" target="_blank">Concirrus​ (London, UK)</a></h2>
      <ul>
          <li>Head of Marketing (Jan 18 - May 19)</li>
          <li>Member of senior management team, direct engagement with Board of Directors</li>
          <li>Marketing and Comms lead through series B investment and Concirrus Quest product launch</li>
      </ul>

      <h2 class="company"><a href="http://www.originenergy.com.au/" target="_blank">Origin Energy (Brisbane, AU)</a></h2>
      <ul>
          <li>Internal Communications (Mar 16 - Oct 17)</li>
          <li>Led Workplace (Facebook for work) pilot program and implementation</li>
      </ul>

      <h2 class="company">Other</h2>
      <ul>
          <li>Co Founder online fashion start up Alma & Bramble, Brisbane (Mar - Sept 17)</li>
          <li>Participated in <a href="https://bootcamp.mit.edu/" target="_blank">MIT global entrepreneurship Bootcamp</a> (Mar 17)</li>
          <li>Participated in <a href="https://qutcea.com/collider/" target="_blank">Creative Enterprise Australia’s startup accelerator program</a> (May - Aug 17)</li>
      </ul>

  </div>

  <div class="container">
    <h2 class="category-title">RECENT WORK</h2>

    <h2 class="company">Web</h2>
    <ul>
        <li><a href="https://www.concirrus.com/" target="_blank">Concirrus website</a> overhaul - oversaw project and creation of product and career pages. Wrote all copy.</li>
        <li><a href="https://www.valdperformance.com/" target="_blank">Vald Performance</a> - wrote product-focused web copy (not yet published).</li>
    </ul>

    <h2 class="company">Writing</h2>
    <ul>
      <li><a href="https://www.concirrus.com/blog/top-five-tips-for-selecting-an-insurtech-partner" target="_blank">Top five tips for selecting an insurtech partner </a></li>
      <li><a href="https://www.concirrus.com/blog/richard-little-qa" target="_blank">Concirrus Q&A with Board Member Richard Little</a></li>
      <li>Breaking down the barriers part<a href="https://www.concirrus.com/blog/breaking-down-the-barriers" target="_blank"> one</a>, 
        <a href="https://www.concirrus.com/blog/breaking-down-the-barriers-part-two-bridging-the-gap" target="_blank">two</a> and 
        <a href="https://www.concirrus.com/blog/breaking-down-the-barriers-part-three-reinventing-outdated-underwriting-models" target="_blank">three</a>
      </li>
      <li><a href="https://www.linkedin.com/pulse/companies-need-start-encouraging-men-take-parental-leave-harriet-muir/" target="_blank">Companies need to start encouraging men to take parental leave, here’s why</a> (personal LinkedIn article)</li>
      <li><a href="https://www.linkedin.com/pulse/three-ok-four-podcasts-company-culture-im-loving-right-harriet-muir/" target="_blank">Three (ok four) podcasts about company culture I’m loving right now</a> (personal LinkedIn article)</li>
    </ul>

    <h2 class="company">Case studies</h2>
    <ul>
      <li><a href="https://cdn2.hubspot.net/hubfs/5167418/Concirrus%20December2018/PDF/Concirrus_Acorn_Case_Study_Dec2018_DF.pdf" target="_blank">How Acorn Insurance leveraged Quest Motor technology to grow their business through increased visibility of their risk exposure</a></li>
    </ul>

    <h2 class="company">Video</h2>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=LqdnRZH2wTs" target="_blank">Quest Marine</a> - worked with the product team to develop a storyboard, wrote the script, worked with an animation studio to create.</li>
    </ul>
  </div>

  <div class="container">
    <h2 class="category-title">OTHER THINGS I DO</h2>
    <p class="lead">In my spare time you'll find me:</p>
    <ul>
        <li>Hanging out with my favourite tiny human Bella (my daughter!)</li>
        <li>Finding new ways to minimise my carbon footprint and <a href="https://medium.com/@harrietmuir" target="_blank">sometimes blogging about it</a></li>
        <li>Running - completing my first marathon 11 months after Bella was born is a proud achievement!</li>
        <li>Inhaling podcasts about Leadership, Culture and Start-Ups (ok, that's sort of worky, but I love them) - 
          my favourites are 'How I built this' with Guy Raz and The 'Knowledge Project' by Farnham Street. </li>
        <li>Travelling - we just returned from two years in London where we travelled our socks off!</li>
    </ul>
  </div>

  <div class="container">
      <h2 class="category-title">LET'S CHAT</h2> 
      <p class="lead">If you have a challenge that could be solved with some marketing and comms expertise (most can!), and you think I'd be a good fit, I'd love to hear from you.</p> 
      <ul>
          <li><a href="mailto:harriet.muir@gmail.com">harriet.muir@gmail.com</a></li>
      </ul>
    </div>
</section>

{% comment %}
<section class="post-list">
  <div class="container">
    {% for post in site.posts %}
      {% unless post.next %}
        <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
        {% endif %}
      {% endunless %}
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></div>
      </article>
    {% endfor %}
  </div>
</section>
{% endcomment %}
